@charset "UTF-8";
/* CSS Document */

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

:root {
  --icon-color: #000000;
  --font-size: 24px;
  --line-height: 32px;
  --icon-container-color: #ffffff;
  --selected-tool-color: #dd98d6;
  --background-color: #ffffff;
  --text-font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  --failure-color: #ff9999;
}

html, body {
  height: 100%;
  font-family: 'Mali', cursive;
  background-color: var(--primary-background);
  color: var(--primary-font-color);
}

.dark-background {
  --primary-background: hsl(210deg, 30%, 8%);
  /* --primary-background: #b2e5cb; */
  --primary-font-color: white;
  /* --primary-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px; */
  --primary-box-shadow: rgba(255, 255, 255, 0.1) 0px 0px 5px 0px, rgba(255, 255, 255, 0.1) 0px 0px 1px 0px;
  --success-color: #3ea389;
  --primary-border-color: white;


  --canvas-font-color: #ffffff;
  --canvas-background-color: var(--primary-background);
  --canvas-icon-color: #1d1d1d;
  --canvas-icon-container-color: #ffffff;
  --canvas-text-area-background: var(--primary-background);

  --secondary-color: hsl(210deg, 38%, 15%);
}

.light-background {
  --primary-background: rgb(255, 255, 255);
  /* --primary-background: #b2e5cb; */
  --primary-font-color: black;
  --primary-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  --success-color: #3ea389;
  --primary-border-color: black;


  --canvas-font-color: #000000;
  --canvas-background-color: var(--primary-background);;
  --canvas-icon-color: white;
  --canvas-icon-container-color: #1d1d1d;
  --canvas-text-area-background: var(--primary-background);

  --secondary-color: lightgrey;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}



a {
  text-decoration: none;
  color: var(--primary-font-color);
}
a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: none;
}

.activeLink {
  text-decoration: underline;
}

.error-msg {
  color: var(--failure-color)
}