@charset "UTF-8";
/* CSS Document */

body {
  /* background: url(../images/bg.gif) repeat-x #f8f8f8; */
  color: #d7d7d7;
  font-family: "Comic Sans MS", "Arial", cursive;
  font-size: 24px;
  line-height: 32px;
  overscroll-behavior: contain;
  -webkit-font-smoothing: antialiased;
}


.loading {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}



