@charset "UTF-8";
/* CSS Document */

body {
  /* background: url(../images/bg.gif) repeat-x #f8f8f8; */
  /* color: #d7d7d7; */
  font-family: "Comic Sans MS", "Arial", cursive;
  font-size: 24px;
  line-height: 32px;
  overscroll-behavior: contain;
  -webkit-font-smoothing: antialiased;
}


.loading {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  color: var(--primary-font-color);
  flex-direction: column;
}

.error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border-left: 3px solid hsl(230deg, 100%, 69%);
  border-radius: 6px 6px 6px 3px;
  padding: clamp(.5rem, 2rem, 5rem);
  margin: 1rem;
  font-size: var(--text-font-size);
  width: clamp(300px,50%, 700px);
}

.error-page span {
  font-size: 2rem;
  margin-bottom: 16px;
}

.dark-background .error-page {
  border-color: hsl(230deg, 100%, 69%);
  background-color: hsl(210deg, 38%, 15%);
}

.light-background .error-page {
  border-color: initial;
  background-color: white;
  border: 1px solid black;
  border-left: 3px solid black;
}

.home-page {
  position: relative;
}

.background-image-container {
  margin-left: 5vw;
  margin-right: 5vw;
  max-height: 40rem;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid lightgrey;
}

.main-content {
  font-size: clamp(0.5rem, 1.75rem, 2rem);
  font-family: 'Inter';
  line-height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-actions {
  font-size: large;
  display: flex;
  gap: 16px;
  margin-top: 16px;
}

.btn-home {
  border-radius: 3rem;
  cursor: pointer;
}

.text-content {
  font-size: 4rem;
  line-height: 5rem;
}

.sign-up-home {
  background-color: var(--selected-tool-color);
  border: 1px solid var(--selected-tool-color);
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  padding-left: 2.75rem;
  padding-right: 2.75rem;
  min-width: 250px;
  color: black;
}

.sign-up-home:hover {
  text-decoration: underline;
}

.without-login {
  background-color: white;
  border: 1px solid black;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  padding-left: 2.75rem;
  padding-right: 2.75rem;
  color: black;
}

.without-login:hover {
  text-decoration: underline;
}

.login-action {
  font-size: 1rem;
  display: flex;
  justify-content: center;
}

.login-link-home {
  margin-left: 10px;
  font-weight: bold;
}

.image-container {
  width: 50%;
  height: 50%;
}

.features-section {
  margin-left: 5vw;
  margin-right: 5vw;
  font-size: 1.75rem;
  font-family: 'Inter';
  line-height: 3rem;
  border-bottom: 1px solid lightgrey;
}

.highlight-text {
  text-decoration: underline;
}

.features-header {
  margin-bottom: 30px;
  font-size: 3rem;
  text-align: center;
}

.secondary-features-content {
  font-size: 1.25rem;
  line-height: 1.5rem;
  text-align: center;
}

.main-features {
  margin: 10rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  gap: 10px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.features-row {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.features-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feature-img {
  width: 150px;
  height: 150px;
}

.feature-header {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.feature-section {
  font-size: 1rem;
  line-height: 2rem;
  color: gray;
  text-align: center;
}

.footer {
  font-size: 1rem;
  text-align: center;
  padding: 2rem;
}

.footer-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin: 1rem;
}

@media screen and (min-width: 1700px) {
  .background-image-container {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
  }
  .features-section {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
  }
}


@media (min-width: 768px) and (max-width: 1024px) {
  .background-image-container {
    max-height: fit-content;
  }
  .main-content {
    flex-direction: column-reverse;
    gap: 10px;
  }
  .image-container {
    width: 100%;
  }
  .text-content {
    font-size: 2rem;
    line-height: 3rem;
  }
  .sign-up-home {
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    min-width: 250px;
  }
  
  .without-login {
    background-color: white;
    border-color: 1px solid black;
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .main-features {
    margin: 2rem;
  }

  .features-row {
    flex-direction: column;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .background-image-container {
    max-height: fit-content;
  }
  .main-content {
    flex-direction: column-reverse;
    gap: 10px;
  }
  .text-content {
    font-size: 2rem;
    line-height: 3rem;
  }
  .image-container {
    width: 100%;
  }
  .sign-up-home {
    padding: .75rem 1rem;
    min-width: 250px;
  }
  
  .without-login {
    background-color: white;
    border-color: 1px solid black;
    padding: .75rem 1rem;
  }

  .main-features {
    margin: 2rem;
  }

  .features-row {
    flex-direction: column;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .background-image-container {
    max-height: fit-content;
  }
  .main-content {
    flex-direction: column-reverse;
    gap: 10px;
  }
  .text-content {
    font-size: 2rem;
    line-height: 3rem;
  }
  .image-container {
    width: 100%;
  }
  .sign-up-home {
    padding: .5rem .75rem;
    width: 100%;
  }

  .content-actions {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .without-login {
    background-color: white;
    border-color: 1px solid black;
    padding: .5rem .75rem;
    width: 100%;
    min-width: 250px;
  }

  .main-features {
    margin: 2rem;
  }

  .features-row {
    flex-direction: column;
  }
}



