@charset "UTF-8";
/* CSS Document */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: url(../images/bg.gif) repeat-x #f8f8f8; */
  color: #d7d7d7;
  font-family: "Comic Sans MS", "Arial", cursive;
  font-size: 24px;
  line-height: 32px;
  overscroll-behavior: contain;
}

:root {
  --icon-color: #000000;
  --font-size: 24px;
  --line-height: 32px;
  --icon-container-color: #ffffff;
  --selected-tool-color: #dd98d6;
  --background-color: #ffffff;
}


.loading {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}



