.textTool {
  position: fixed;
  top: 100px;
  left: 0px;
  display: block;
  background-color: var(--canvas-text-area-background);
  color: var(--canvas-font-color);
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  font-family: "Mali";
  font-style: normal;
  font-size: var(--font-size);
  /* border: 1px solid red; */
}

.textarea {
  border: none;
  outline: none;
  overflow: auto;
  color: inherit;
  resize: none;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: var(--line-height);
  background-color: var(--canvas-text-area-background);
  /* border: 1px solid red; */
  display: block;
  width: 100%;
  resize: none;
  margin: 0.05px;
  min-height: var(--line-height);
}

