.light-mode {
  --font-color: #000000;
  --background-color: #ffffff;
  --icon-color: white;
  --icon-container-color: #1d1d1d;
  --text-area-background: #ffffff;
}

.dark-mode {
  --font-color: #ffffff;
  --background-color: #424242;
  --icon-color: #1d1d1d;
  --icon-container-color: #ffffff;
  --text-area-background: #424242;
}

body {
  overscroll-behavior: none;
  user-select: none;
}

#wrapper {
  position: relative;
  width: 100%;
  /* margin: 10px; */
}

#blackboardPlaceholder {
  /* background: url(../images/blackboard.png) no-repeat; */
  width: 100%;
  height: 100%;
  /* margin: 0 auto; */
  /* padding: 14px 0 75px 14px; */
}

#drawingCanvas {
  position: absolute;
  border: none;
  color: #fff;
  overflow: hidden;
  /* background-color: #424242; */
  background-color: var(--canvas-background-color);
}
#tempCanvas {
  position: absolute;
  /* width: 1630px;
  height: 2000px; */
  overflow: hidden;
}
.noscript {
  padding: 50px 30px 0 40px;
  width: 820px;
}

.delete-toast {
  position: fixed;
  bottom: 10px;
  width: 100%;
  margin-left: auto;
  
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: large;
}

.delete-toast-msg {
  max-width: 150px;
  background-color: var(--failure-color);
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  animation: fromDown 500ms;
  cursor: pointer;
}

@keyframes fromDown {
  from {
    transform: translateY(200px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}