@charset "UTF-8";
/* CSS Document */

* {
  margin: 0;
  padding: 0;
}

body {
  /* background: url(../images/bg.gif) repeat-x #f8f8f8; */
  color: #d7d7d7;
  font-family: "Belle", "Comic Sans MS", cursive;
  font-size: 25px;
  line-height: var(--line-height);
  overscroll-behavior: contain;
}

:root {
  --icon-color: #000000;
  --font-size: 24px;
  --line-height: 1.5rem;
  --icon-container-color: #ffffff;
  --selected-tool-color: #dd98d6;
  --background-color: #ffffff;
}

.light-mode {
  --font-color: #000000;
  --background-color: #ffffff;
  --icon-color: white;
  --icon-container-color: #1d1d1d;
  --text-area-background: #ffffff;
}

.dark-mode {
  --font-color: #ffffff;
  --background-color: #424242;
  --icon-color: #1d1d1d;
  --icon-container-color: #ffffff;
  --text-area-background: #424242;
}

#wrapper {
  position: relative;
  width: 100%;
  /* margin: 10px; */
}

#blackboardPlaceholder {
  /* background: url(../images/blackboard.png) no-repeat; */
  width: 100%;
  height: 100%;
  /* margin: 0 auto; */
  /* padding: 14px 0 75px 14px; */
  cursor: crosshair;
}

#drawingCanvas {
  position: absolute;
  border: none;
  color: #fff;
  overflow: hidden;
  /* background-color: #424242; */
  background-color: var(--background-color);
}
#tempCanvas {
  position: absolute;
  /* width: 1630px;
  height: 2000px; */
  overflow: hidden;
}
.noscript {
  padding: 50px 30px 0 40px;
  width: 820px;
}
#selector {
  position: absolute;
  z-index: 99999;
  /* margin-top: -30px; */
}
select {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  background-color: #eaeaea;
}

.selectTool {
  position: fixed;
  top: 10px;
  left: 0px;
  right: 0px;
  background-color: var(--icon-container-color);
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  color: var(--icon-color);
  padding: 10px;
}

.selectTool .tool-icon {
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
}

.selectTool .tool-icon .icon-class {
  color: var(--icon-color);
  font-size: 24px;
  /* margin: 10px; */
}

.selectTool .tool-icon:not(:last-child) {
  border-right: 1px solid #e6e6fa;
}

.selectTool .tool-icon:hover {
  cursor: pointer;
}

.selectTool .selected {
  background-color: var(--selected-tool-color);
  color: white;
}

.configTool {
  position: fixed;
  top: 20px;
  left: 0px;
  margin-left: 10px;
  color: var(--font-color);
  font-style: normal;
  font-size: 16px;
}

.configTool .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.configTool .wrapper .configLabel {
  margin-right: 10px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #000000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.textTool {
  position: fixed;
  top: 100px;
  left: 0px;
  display: block;
  background-color: var(--text-area-background);
  color: var(--font-color);
  padding: 0;
  margin: 0;
  /* border: 1px solid red; */
}

.textarea {
  border: none;
  outline: none;
  font-family: "Arial";
  font-style: normal;
  font-size: var(--font-size);
  overflow: scroll;
  color: inherit;
  resize: none;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: var(--line-height);
  background-color: var(--text-area-background);

  display: block;
  width: 100%;
  resize: none;
  min-height: 40px;
}
