.toast-container {
  position: fixed;
  top: 32px;
  right: 32px;
  background-color: green;
  color: white;
  padding: 1rem;
  width: 300px;
  max-width: 50%;
}

.main-toast {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}