.modalContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  
   /* background-color: var(--primary-background); */
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-font-color);
  z-index: 5;
}

.modal-background {
  background-color: rgba(0, 0, 0, 0.75);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.modal {
  width: fit-content;
  max-width: 90%;
  height: auto;
  background-color: var(--primary-background);
  padding: 2rem;
  border-radius: 16px;
  backdrop-filter: blur(5px);
  max-height: 90%;
  opacity: 1;
  border-left: 3px solid var(--border-color);
  z-index: 1;
}


.modal-header {
  position: relative;
  padding: 1rem;
  border-bottom: 1px solid #e6dfdf;
}

.modal-header-title {
  text-align: center;
}

.modal-header button {
  background-color: var(--secondary-color);
  color: currentColor;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
}

.light-background .modal-header button {
  border: .5px solid black;
  background-color: transparent;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
}



.modal-content {
  padding: 2rem 1rem;
  max-height: 400px;
  overflow: auto;
  scrollbar-color: currentcolor;
}

.modal-footer {
  padding: 2rem 0;
  padding-bottom: 0;
  display: flex;
  flex-direction: row;
  max-width: 600px;
  margin: auto;
}

.modal-close:hover {
  color: rgba(54, 67, 72, 0.8);
}

.submit {
  margin-right: 1rem;
  background-color: #364348;
  color: #fff;
}

.submit:hover {
  background-color: rgba(54, 67, 72, 0.8);
}

.enter-animation {
  animation: fadeIn 250ms ease-in;
}

.exit-animation {
  opacity: 0;
  animation: fadeOut 250ms ease-in;
}



@keyframes fadeIn {
  from {
    transform: translateY(-200px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    transform: translateY(0px);
    opacity: 1;
  }

  to {
    transform: translateY(-200px);
    opacity: 0;
  }
}


@media (min-width: 481px) and (max-width: 800px) {
  .modal {
    width: 100%;
    height: auto;
    margin: 0px;
    border: none;
    border-top: 3px solid var(--border-color);
    padding: 1rem;
  }
  .modal-content {
    max-height: 300px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .modal {
    width: 100%;
    height: auto;
    margin: 0px;
    border: none;
    border-top: 3px solid var(--border-color);
    padding: .75rem;
  }
  .modal-content {
    max-height: 300px;
  }
}