.configTool {
  position: fixed;
  top: 20px;
  right: 0px;
  margin-right: 10px;
  color: var(--canvas-font-color);
  font-style: normal;
  font-size: 16px;
  border-left: 3px solid hsl(230deg, 100%, 69%);
  border-radius: 6px 6px 6px 3px;
  padding: 10px;
}

.dark-background .configTool {
  border-color: hsl(230deg, 100%, 69%);
  background-color: hsl(210deg, 38%, 15%);
}

.light-background .configTool {
  border-color: initial;
  background-color: white;
  border: 1px solid black;
  border-left: 3px solid black;
}

.configTool .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  flex-direction: row;
}

.configTool .icon {
  padding: .25rem;
  cursor: pointer;
}

.configTool .icon:hover {
  outline: 2px solid currentColor;
}

.configTool .wrapper .configLabel {
  margin-right: 10px;
}

.mobile-icon {
  display: none;
}




@media (min-width: 320px) and (max-width: 767px) {
  .configTool {
    top: initial;
    bottom: 20px;
    padding: .5rem;
  }
  .configTool .wrapper {
    flex-direction: column;
    padding: 0px;
    padding-bottom: 8px;
    border-bottom: 2px solid hsl(230deg, 100%, 69%);
  }

  .mobile-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
  }

  .hide-tools {
    display: none !important;
  }
}
