.header {
  z-index: 1;
  position: sticky;
  top: 0px;
  background-color: var(--primary-background);
}
.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
  box-shadow: var(--primary-box-shadow);
  gap: 32px;
  color: var(--primary-font-color);
  text-align: center;
  align-items: center;
}

.main-header-link {
  /* font-size: clamp(.01rem,1rem, 1.25rem); */
  font-size: 1rem;
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  align-self: center;
  color: var(--primary-font-color);
}

.header-links-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 32px;
  justify-content: flex-end;
}

.mobile-icon {
  display: none;
}

.hide {
  display: none;
}

.logout {
  align-self: center;
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 767px) {
  .header-links-container {
    display: none;
  }
  .mobile-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  .mobile-header-links {
    position: absolute;
    width: 100%;
    outline: 2px solid var(--border-color);
  }

  .mobile-header-links-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding:30px;
    background-color: var(--primary-background);
    
  }

  .main-header-link {
    padding: 10px;
  }

  .main-header-link:not(:last-child) {
    width: 100%;
    border-bottom: 1px solid lightgrey;
    align-self: center;
    text-align: center;
    
  }
}