.loader {
  position: fixed; 
  right: 0;
  left: 0; 
  top: 0; 
  z-index: 50; 
  height: 0.25rem; 

  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}



.inner-loader {
  background-image: linear-gradient(
    45deg,
    hsl(217deg 91% 60%) 0%,
    hsl(206deg 100% 48%) 11%,
    hsl(205deg 100% 48%) 23%,
    hsl(203deg 100% 48%) 34%,
    hsl(200deg 100% 47%) 46%,
    hsl(198deg 100% 46%) 57%,
    hsl(196deg 100% 45%) 68%,
    hsl(194deg 100% 44%) 79%,
    hsl(191deg 100% 43%) 90%,
    hsl(189deg 94% 43%) 100%
  );

  transition-property: all; 
  transition-duration: 500ms; 
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
  height: 100%;
}

.animationComplete {
  transition-property: none; 
  width: 0; 
  opacity: 0; 
}

.submitting {
  width: 33.333333%; 
}

.loading {
  width: 83.333333%; 
}

.idle {
  width: 100%;
}


.circle-loader-container {
  position: fixed; 
  right: 30px;
  bottom: 50px; 
  z-index: 50; 
}

.loader-2 {
  display: block;
	height: 32px;
	width: 32px;
	-webkit-animation: loader-2-1 3s linear infinite;
	        animation: loader-2-1 3s linear infinite;
}
@-webkit-keyframes loader-2-1 {
	0%   { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
@keyframes loader-2-1 {
	0%   { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
.loader-2 span {
	display: block;
	position: absolute;
	top: 0; left: 0;
	bottom: 0; right: 0;
	margin: auto;
	height: 32px;
	width: 32px;
	clip: rect(16px, 32px, 32px, 0);
	-webkit-animation: loader-2-2 1.5s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
	        animation: loader-2-2 1.5s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
@-webkit-keyframes loader-2-2 {
	0%   { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
@keyframes loader-2-2 {
	0%   { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
.loader-2 span::before {
	content: "";
	display: block;
	position: absolute;
	top: 0; left: 0;
	bottom: 0; right: 0;
	margin: auto;
	height: 32px;
	width: 32px;
	border: 3px solid transparent;
	border-top: 3px solid #FFF;
	border-radius: 50%;
	-webkit-animation: loader-2-3 1.5s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
	        animation: loader-2-3 1.5s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
@-webkit-keyframes loader-2-3 {
	0%   { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
@keyframes loader-2-3 {
	0%   { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
.loader-2 span::after {
	content: "";
	display: block;
	position: absolute;
	top: 0; left: 0;
	bottom: 0; right: 0;
	margin: auto;
	height: 32px;
	width: 32px;
	border: 3px solid var(--primary-font-color);
	border-radius: 50%;
}
