.back-icon-container {
  position: fixed;
  top: 10px;
  /* left: 1rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-direction: row;
  font-size: small;
  padding: 8px;
  border-radius: 5px;
  color: var(--primary-font-color);
}

.dark-background .back-icon-container:hover {
  background-color: var(--border-color);
}

.light-background .back-icon-container:hover {
  background-color: var(--border-color);
  color: white;
}

.mobile-back-container {
  display: none;
}

/* TODO instead of display none show different UI for back Icon */
@media (min-width: 320px) and (max-width: 767px) {
  .back-icon-container {
    display: none;
  }

  .mobile-back-container {
    position: fixed;
    top: 10px;
    left: 1rem;
    display: block;
    top: 30px;
    padding: .5rem;
    border-left: 3px solid hsl(230deg, 100%, 69%);
    border-radius: 6px 6px 6px 3px;
  }

  .dark-background .mobile-back-container {
    border-color: hsl(230deg, 100%, 69%);
    background-color: hsl(210deg, 38%, 15%);
  }
  
  .light-background .mobile-back-container {
    border-color: initial;
    background-color: white;
    border: 1px solid black;
    border-left: 3px solid black;
  }
}

