.popup-header {
  font-weight: bold;
}

.content {
  width: min(600px, 100%);
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid currentColor;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.collaborator-item {
  padding: 10px;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: flex-start;
  gap:20px;
  align-items: center;
}

.collaborator-item:not(:last-child) {
  border-bottom: 1px solid darkgray;
}